html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

nav{
    position: fixed;
    background: #8946A6;
    width: 100%;
    height: 60px;
    z-index:999;
}

.left_area img{
    position: absolute;
    left: 190px;
    top: 0;
    width: 60px;
    height: 60px;
    margin-right: 20%;
}


nav ul{
    float: right;
    margin-right: 60px;
    margin-top: 0px;
}

nav ul li{
    display: inline-block;
    line-height: 60px;
    margin: 0 5px;
}

nav ul li a{
    color: #F0E3FF;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-decoration: none;
}

a.active,a:hover{
    background: #ba66de;
    transition: .5s;
}

/*nav bar-login-dropdown*/

.dropdown-login {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content-login {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content-login a {
    color: rgb(78, 10, 97);
    padding: 4px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content-login a:hover {background-color: #ba66de}
  
  .dropdown-login:hover .dropdown-content-login {
    display: block;
  }

/*Side bar*/

.sidebar{
    z-index: 1;
    background: #F0E3FF;
    position: fixed;
    margin-top: 60px;
    padding-top: 30px;
    width: 250px;
    height: calc(100% - 9%);
    transition: 0.5s;
    transition-property: left;
    overflow-y: auto;
}

.sidebar li{
    list-style: none;
}

.sidebar .sidebar_menu{
    overflow: hidden;
}

.sidebar .profile_image{
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

.sidebar .sidebar_menu h4{
    color: #3E206D;
    margin-top: 0;
    margin-bottom: 20px;
}

.sidebar .sidebar_menu .item{
    width: 250px;
    overflow: hidden;
}

.sidebar .sidebar_menu .item .menu-btn{
    display: block;
    color: #3E206D;
    position: relative;
    padding: 25px 20px;
    transition: 0.3s;
    transition-property: color;
    text-decoration: none;
}

.sidebar .sidebar_menu .item .menu-btn:hover{
    color: #F0E3FF;
    background: #8946A6;
}

.sidebar .sidebar_menu .item .menu-btn i{
    margin-right: 20px;
    font-size: 20px;
}

.sidebar .sidebar_menu .item .menu-btn .drop-down{
    float: right;
    font-size: 12px;
    margin-top: 3px;
}

.sidebar .sidebar_menu .item .sub-menu{
    background: #8946A6;
    overflow: hidden;
    max-height: 0;
    transition: 0.3s;
    transition-property: background, max-height;
}

.sidebar .sidebar_menu .item .sub-menu a{
    display: block;
    text-decoration: none;
    position: relative;
    color: #F0E3FF;
    white-space: nowrap;
    font-size: 15px;
    padding: 20px;
    border-bottom: 1px solid #3E206D;
    transition: 0.5s;
    transition-property: background;
}

.sidebar .sidebar_menu .item .sub-menu a:hover{
    background: #ba66de;
}

.sidebar .sidebar_menu .item .sub-menu i{
    padding-right: 20px;
    font-size: 10px;
}

.sidebar .sidebar_menu .item:target .sub-menu{
    max-height: 500px;
}
/*...................*/

label #sidebar_btn{
    z-index: 1;
    color: #F0E3FF;
    position: fixed;
    cursor: pointer;
    left: 40px;
    font-size: 20px;
    margin: 20px 7px;
    transition: 0.5s;
    transition-property: color;
}

label #sidebar_btn:hover{
    color: #3E206D; 
}

#check:checked ~ .sidebar{
    left: -190px;
}

#check:checked ~ .sidebar a span{
    display: none;
}

#check:checked ~ .sidebar .sidebar_menu a{
    font-size: 20px;
    margin-left: 190px;
    width: 60px;
}

/*content*/
.content{
    margin-left: 20%;
    position: relative;
    float: left;
    margin-top: 70px;
    width: 75%;
    height: 100vh;
    transition: 0.3s;
}

#check:checked ~ .content{
    margin-left: 60px;
}

#check{
    display: none;
}

#check:checked ~ .content{
    margin-left: 60px;
}

/*Topic - 01*/
.content_h1{
    padding: 15px 0;
    color: #3E206D;
}

/*Topic - 02*/
.content_h2{
    padding: 10px 0;
    color: #8946A6
}

/*Add button*/

.add{
    float: right;
    background-color: #8946A6;
    border: none;
    color: #F0E3FF;
    width: 10vw;
    height: 3.5vw;
    font-size: 1vw;
    font-weight: bolder;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

/*Search botton*/

.search_add-main{
    display: flex;
    align-items: baseline;
}

.search_add{
    margin-left: 45%;
    display: flex;
    float: right;
}

.search{
    margin-right: 20px;
}

input[type=search]{
    width: 250px;
    background-color: #da98f7;
    color: #8946A6;
    padding: 12px;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 18px;
}

input::placeholder{
    color: #F0E3FF;
}

.search_icon{
    width: 40px;
    height: 40px;
    background: #da98f7;
    border: none;
    color: #8946A6;
    font-size: large;
    border-radius: 3px;
}

.search_icon:hover{
    background: #8946A6;
    color: #F0E3FF;
}

/*line*/
.line {
	border-top: 3px solid #3E206D;
}

 /* Full-width input fields */
 input[type=text], select, input[type=email],  input[type=int], input[type=double], input[type=password] {
    width: 100%;
    background-color: #8946A6;
    color: #F0E3FF;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 18px;
    resize: vertical;
    margin-right: 10%;
}
  
  input[type=text], input[type=password],input[type=number], input[type=double], input[type=int], select {
    background-color:#f0e0f7;
    outline: #3E206D;
    border-width: 2px;
    color: #602c6a;
    
   
  }
  
  /* Overwrite default styles of hr */
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
  .Registration{
   margin-left: 30%;
   margin-right: 20%;
   padding-right: 5%;
   padding-top: 80px;
   font-family: sans-serif;
   font-size: 1.2vw;
   
  
   
  }

  .myButton {
	box-shadow: 0px 0px 10px 2px #9f5ccf;
	background:linear-gradient(to bottom, #ad31bb 5%, #64696f 100%);
	background-color:#602c6a;
	border-radius:24px;
	border:1px solid #682476;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:19px;
	padding:8px 46px;
	text-decoration:none;
	text-shadow:0px 1px 0px #9e3aa7;
    margin-left: 50%;
}
.myButton:hover {
	background:linear-gradient(to bottom, #4b2e59 5%, #8d51b5 100%);
	background-color:#9c349e;
}
.myButton:active {
	position:relative;
	top:1px;
}
.opt{
    width: 500px;
    padding-left: 20%;
    padding-right: 20%;
}
/******dispalying invalid feedback***********************************************************/
.invalid-feedback{
    color: rgb(137, 6, 6);
    font-size: small;
    font-family: sans-serif;
}
/********sessions_success message*************************************************************/
.successmsg{
    color: #79103a;
    margin-left: 40%;
    margin-top: 10%;
    font-size: larger;
    font-family: cursive;
    font-weight: 600;
    
}

/********************************Risky Non risky page************************************************************/

.calbmi{
    color: #3E206D;
    font-size: medium;
}

#risky {
    background-color: #cfc ;
    padding: 10px ;
    border: 1px solid green ;
  }

/******************************************expectant mother records***************************************************************/
.expectantRecords{
    background-color: #dac7f0;
    padding-right: 30%;
    margin-left: 30%;
    margin-right: 10%;
    font-family: sans-serif;


}
.addExpectant{
    float: right;
    background-color: #8946A6;
    border: none;
    color: #F0E3FF;
    width: 10vw;
    height: 3vw;
    font-size: 1vw;
    font-weight: bolder;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}
.Registration_sms{
    margin-left: 20%;
    margin-right: 200px;
    padding-top: 50px;
    
    font-family: sans-serif;
    font-size: medium;
   
}


/*table in the info page*/
table {
    border-collapse: collapse;
    width: 100%;
    color: #3E206D;
}
  
tr {
    border-bottom: 1px solid #3E206D;
}
  
th, td {
    padding: 15px;
  
}
  
th {
    text-align: left;
   
}

.line {
	border-top: 3px solid #3E206D;
}

/*two tables*/

* {
    box-sizing: border-box;
  }

.row {
    margin-left:-5px;
    margin-right:-5px;
}
    
.column {
    float: left;
    width: 50%;
    padding: 20px;
}

.column table{
    background-color: #F0E3FF;
}
  

.row::after {
    content: "";
    clear: both;
    display: table;
}
  
.t1 {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    
}
  
.t1 th, td {
    text-align: left;
    padding: 15px;
  
}
.updateDeliveredbutton{
    float: right;
    background-color: #8946A6;
    border: none;
    color: #F0E3FF;
    width: 6vw;
    height: 2vw;
    font-size: 0.7vw;
    font-weight: bolder;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    padding-top: 5%;
}

.greeting{
    font-size: 30px;
    color: #602c6a;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 
}
.content_h1{
    padding: 15px 0;
    margin-left: 0%;
    margin-top: 1%;
    color: #3E206D;
    font-size: large;
}
.content_h3{
    padding: 15px 0;
    margin-left: 20%;
    margin-top: 30%;
    color: #3E206D;
    font-size: large;
}

a:link {
    text-decoration: none;
    
  }
  .newregdetails{
    font-size: 1.2vw;
    
   
    
  }
  .expectant{
    padding-top: 1%;
    padding-left: 2%;
    
  }
  .dailyrecords{
    padding-top: 10%;
    padding-left: 10%;
   
  }
  .adddailyrecords{
   
    padding-left: 15%;
    float: left;
    margin-right: 20%;
    margin-left: 10%;
    margin-top: 5%;
    padding-right: 10%;
    
    background-color: #ffffff;
    font-size: 1vw;
  }
/*****************************************individual records******************************/

.content_expectant2{
   float: left;
    margin-right: 20%;
    margin-left: 10%;
    margin-top: 2%;
    padding-right: 10%;
    padding-left: 10%;
    background-color: #ece3f7;
    font-size: 1vw;
   
}
.more_info{
   float: right;
    margin-right: 50%;
    margin-left: 60%;
 
    background-color: #eadbfc;
    font-size: 1vw;
}
.infobutton{
    float: right;
    margin-right: 10%;
    margin-top: -1%;
}

.changepassword{
    float: left;
    background-color: #8946A6;
    border: none;
    margin: 8px 0px;
    color: #F0E3FF;
    width: 15vw;
    height: 3.5vw;
    font-size: 1vw;
    font-weight: lighter;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-family: sans-serif;
}

/******************************************updating the profile info page************************************************
/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  /* Set a style for all buttons */
  button {
    background-color: #8946A6;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  .changepassword {
    background-color: #8946A6;
    color: white;
    padding: 10px 20px;
    margin: 8px 0;
   
    border: none;
    cursor: pointer;
    width: 100%;
  }
  button:hover {
    opacity: 0.8;
  }
  
  /* Extra styles for the cancel button */
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }
  
  /* Center the image and position the close button */
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
  }
  
  img.avatar {
    width: 40%;
    border-radius: 50%;
  }
  
  .container {
    padding: 16px;
  }
  
  span.psw {
    float: right;
    padding-top: 16px;
  }
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: -100px;
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 0% auto 15% auto; /* 0% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button (x) */
  .close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: red;
    cursor: pointer;
  }
  
  /* Add Zoom Animation */
  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
  }
    
  @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
  }
  .midwifeupdateinfo{
   
    padding-left: 10%;
    float: left;
    margin-right: 20%;
    margin-left: 20%;
    margin-top: 0%;
    padding-right: 10%;

    
    background-color: #ffffff;
    font-size: 1vw;
  }

  /*************************************info page*************************/
  .content_child_midwifepage{
    float: right;
    margin-right: 10%;
    margin-left: 60%;
    margin-top: -31.2%;
    padding-right: 5%;
    padding-left: 5%; 
    background-color: #ece3f7;
    font-size: 1vw;

    
   
  }
  
  /******facilities page***/
  .b{
    position: relative;
    float: left;
    margin-top: 60px;
}

.home_content{
    background-image: url('../img/bg.jpg');
    /**background-size: cover;*/
    background-repeat: no-repeat;
    height: 100vh;
}


