html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

nav{
    position: fixed;
    background: #8946A6;
    width: 100%;
    height: 60px;
    z-index:999;
}

.left_area img{
    position: absolute;
    left: 190px;
    top: 0;
    width: 60px;
    height: 60px;
    margin-right: 20%;
}


nav ul{
    float: right;
    margin-right: 60px;
    margin-top: 0px;
}

nav ul li{
    display: inline-block;
    line-height: 60px;
    margin: 0 5px;
}

nav ul li a{
    color: #F0E3FF;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-decoration: none;
}

a.active,.bctive:hover{
    background: #ba66de;
    transition: .5s;
}

/*nav bar-login-dropdown*/

.dropdown-login {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content-login {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content-login a {
    color: rgb(78, 10, 97);
    padding: 4px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content-login a:hover {background-color: #ba66de}
  
  .dropdown-login:hover .dropdown-content-login {
    display: block;
  }

/*.check_nav{
    font-size: 25px;
    color: #F0E3FF;
    float: right;
    line-height: 60px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check_2{
    display: none;
}

@media (max-width: 952px){
    .left_area img{
        padding-left: 90px;
    }

    nav ul li a{
        font-size: 15px;
    }
}

@media (max-width: 858px){
    .check_nav{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 60vh;
        background: #59087b;
        top: 60px;
        left: -1000px;
        text-align: center;
        transition: .5s;
    }
    nav ul li{
        display: block;
        
        margin-top: 5px;
    }
    nav ul li a{
        font-size: 20px;
    }
    a:hover,a.active{
        background: #ba66de;
    }
    #check_2:checked ~ ul{
        left: 0px;
    }
}*/


/*Side bar*/

.sidebar{
    background: #F0E3FF;
    margin-top: 60px;
    padding-top: 30px;
    position: fixed;
    left: 0;
    width: 250px;
    height: 100%;
    transition: 0.5s;
    transition-property: left;
}

.sidebar .profile_image{
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
    border-radius: 100%;
}

.sidebar h4{
    color: #3E206D;
    margin-top: 0;
    margin-bottom: 20px;
}

.sidebar a{
    color: #3E206D;
    display: block;
    width: 100%;
    line-height: 60px;
    text-decoration: none;
    padding-left: 40px;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property: background;
}

.sidebar a:hover{
    background: #8946A6;
    color: #F0E3FF;
}

.sidebar i{
    padding-right: 10px;
}

label #sidebar_btn{
    z-index: 1;
    color: #F0E3FF;
    position: fixed;
    cursor: pointer;
    left: 40px;
    font-size: 20px;
    margin: 20px 7px;
    transition: 0.5s;
    transition-property: color;
}

label #sidebar_btn:hover{
    color: #3E206D; 
}

#check:checked ~ .sidebar{
    left: -190px;
}

#check:checked ~ .sidebar a span{
    display: none;
}

#check:checked ~ .sidebar a{
    font-size: 20px;
    margin-left: 170px;
    width: 80px;
}

/*content*/
.content{
    margin-left: 300px;
    position: relative;
    float: left;
    margin-top: 70px;
    width: 75%;
    height: 100vh;
    transition: 0.5s;
}

#check:checked ~ .content{
    margin-left: 60px;
}

#check{
    display: none;
}

#check:checked ~ .content{
    margin-left: 60px;
}

#check{
    display: none;
}

/*index page-topic*/
.content_h1{
    padding: 15px 0;
    color: #3E206D;
}

/*form-topic*/
.content_h2{
    padding: 10px 0;
    color: #8946A6
}

/*Back*/
.back {
    text-decoration: none;
}

/*Form - CSS - start*/

input[type=text], select, input[type=email], input[type=password] {
    width: 100%;
    background-color: #8946A6;
    color: #F0E3FF;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 18px;
    resize: vertical;
}

input::placeholder{
    color: #F0E3FF;
}

input[type=submit] {
    background-color: #8946A6;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container_new {
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 5px;
    background-color: #F0E3FF;
    padding: 20px;
}

.form_font{
    color: #3E206D;
    font-weight: bold;
}

.form-err{
    font-size: smaller;
    color: red;
}

/*Add button*/

.add{
    float: right;
    background-color: #8946A6;
    border: none;
    color: #F0E3FF;
    width: 10vw;
    height: 3vw;
    font-size: 1vw;
    font-weight: bolder;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.add2{
    float: right;
    background-color: #8946A6;
    border: none;
    color: #F0E3FF;
    width: 8vw;
    height: 2vw;
    font-size: 0.8vw;
    font-weight: bolder;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

/*clinic-index page-heading*/

.report{
    display: flex;
    justify-content: space-between;
    scroll-behavior: no;
    overflow: hidden;
}

.report button{
    float: right;
}


/*clinic boxes*/

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
  }
  
  div.gallery:hover {
    border: 1px solid #8946A6;
  }
  
  div.gallery img {
    width: 100%;
    height: 60px;
  }

  
  div.desc {
    padding: 15px;
    text-align: center;
  }

/*
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    margin-bottom: 30px;
    background: #8946A6;
    cursor: pointer;
}
  
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
  
.container {
    padding: 20px 16px;
    text-align: center;
}

h4 a{
    text-decoration: none;
    color: #F0E3FF;
    
}


/*table in the info page*/
table {
    border-collapse: collapse;
    width: 100%;
    color: #3E206D;
}
  
tr {
    border-bottom: 1px solid #3E206D;
}
  
th, td {
    padding: 15px;
}
  
th {
    text-align: left;
}

.line {
	border-top: 3px solid #3E206D;
}

/*two tables*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

.row {
    margin-left:-5px;
    margin-right:-5px;
}
    
.column {
    float: left;
    width: 50%;
    padding: 20px;
}

.column table{
    background-color: #F0E3FF;
}
  

.row::after {
    content: "";
    clear: both;
    display: table;
}
  
.t1 {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    
}
  
.t1 th, td {
    text-align: left;
    padding: 15px;
}
  
/*Content - HOME*/

.b{
    position: relative;
    float: left;
    margin-top: 60px;
}

.home_content{
    background-image: url('../img/1.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.home-h1{
    position: absolute;
    margin-top: 200px;
    margin-left: 50%;
    font-size: 75px;
    font-family: Georgia, serif;
    color: #8946A6;
}
/*********************************about, facilities pages*************************/
.home-h1{
    position: absolute;
    margin-top: 200px;
    margin-left: 50%;
    font-size: 11vh;
    font-family: Georgia, serif;
    color: #8946A6;
    
}
.home-h3{
    position: absolute;
    margin-top: 400px;
    margin-left: 50%;
    font-size: 4.5vh;
    font-family: Georgia, serif;
    color: #8946A6;
   
}
.home-h4{
    position: absolute;
    margin-top: 100px;
    margin-left: 50%;
    font-size: 6vh;
    font-family: Georgia, serif;
    color: #4b0a68;
    
}
.home-h5{
    position: absolute;
    margin-top: 150px;
    margin-left: 50%;
    font-size: 4.5vh;
    font-family: Georgia, serif;
    color: #8946A6;
    transition: 0.3s;
}
.home-h6{
    position: absolute;
    margin-top: 340px;
    margin-left: 50%;
    font-size: 6vh;
    font-family: Georgia, serif;
    color: #382541;
    transition: 0.3s;
}
.home-h7{
    position: absolute;
    margin-top: 200px;
    margin-left: 40%;
    font-size: 4.5vh;
    font-family: Georgia, serif;
    color: #8946A6;
    transition: 0.3s;
}


/*Search botton*/

.search_add{
    display: flex;
    float: right;
}

.search{
    margin-right: 20px;
}

input[type=search]{
    width: 250px;
    background-color: #da98f7;
    color: #8946A6;
    padding: 12px;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 18px;
}

.search_icon{
    width: 40px;
    height: 40px;
    background: #da98f7;
    border: none;
    color: #8946A6;
    font-size: large;
    border-radius: 3px;
}

.search_icon:hover{
    background: #8946A6;
    color: #F0E3FF;
}

.container_newmidwife {
    margin-top: -28px;
    margin-left: auto;
    margin-right: 0%;
    width: 60%;
    border-radius: 5px;
    background-color:#d0aaf8;
    padding: 120px;
    padding-right: 100px;
    padding-left: 100px;
    margin-bottom: 0%;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/*container_new_modal*/
.container_new_modal {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    border-radius: 5px;
    background-color: #F0E3FF;
    padding: 20px;
}

/* Modal Content */
.modal-content {
    background-color: #F0E3FF;
    font-size: larger;
    color: #3E206D;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    height: 20%;
}
  
  /* The Close Button  - Close1*/
.close {
    color: #8946A6;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: #3E206D;
    text-decoration: none;
    cursor: pointer;
}

/*Close-2*/
.close2 {
    color: #8946A6;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close2:hover,
.close2:focus {
    color: #3E206D;
    text-decoration: none;
    cursor: pointer;
}

/*Close-3*/
.close3 {
    color: #8946A6;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close3:hover,
.close3:focus {
    color: #3E206D;
    text-decoration: none;
    cursor: pointer;
}


/*More button*/
.more1999{
    background-color: #d083f1;
    color: white;
    cursor: pointer;
}

/*doctor-midwife profile*/
.mine {
	display:flex;
    margin-left: auto;
    margin-right: auto;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(214, 4, 211, 0.2);
    transition: 0.3s;
    width: 40%;
    margin-right: 80px;
    margin-left: 80px;
    border-radius: 15px;
    border: 1px solid;
    border-color:rgb(78, 10, 97)
}

.card1 {
    box-shadow: 0 4px 8px 0 rgba(214, 4, 211, 0.2);
    transition: 0.3s;
    width: 80%;
    height: 30%;
    margin-right: 80px;
    margin-left: 80px;
    border-radius: 15px;
    margin-bottom: 23px;
    border: 1px solid;
    border-color:rgb(78, 10, 97)
}

.card:hover, .card1:hover {
  box-shadow: 0 8px 16px 0 rgba(156, 4, 148, 0.2);
}

.container {
  padding: 10px 16px;
}

.align{
    display: inline;
}

.report{
    display: flex;
    justify-content: space-between;
}

.report button{
    float: right;
}

.report a:hover{
    background: none;
}
    
.mine .card .container table tr th{
    background: #d083f1;
    border-radius: 10px;
}

.mine .card .container table thead tr{
    border-bottom: none
}


